
CREATE OR REPLACE FUNCTION public.trigger_refresh_mv_explore()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
AS \$\$
BEGIN
  -- We don't want to run CONCURRENTLY if it's the first time and has no data
  -- But we already created it. 
  REFRESH MATERIALIZED VIEW CONCURRENTLY public.mv_explore_social_posts;
  RETURN NULL;
END;
\$\$;

DROP TRIGGER IF EXISTS refresh_mv_explore_on_post ON public.social_posts;
CREATE TRIGGER refresh_mv_explore_on_post
AFTER INSERT OR UPDATE OR DELETE ON public.social_posts
FOR EACH STATEMENT
EXECUTE FUNCTION public.trigger_refresh_mv_explore();

